# Streamlit
streamlit==1.28.0

# Option menu المتوافقة مع Streamlit 1.28
streamlit-option-menu==0.3.13

# Data processing
numpy==1.24.3
pandas==2.1.3
openpyxl==3.1.2

# Plotting
plotly==5.17.0

# Security & Env
bcrypt==4.0.1
python-dotenv==1.0.0
