# Streamlit
streamlit==1.28.0

# Data Analysis
numpy==1.26.4
pandas==2.3.3

# Plotting
plotly==5.17.0
openpyxl==3.1.2

# Security & Environment
bcrypt==4.0.1
python-dotenv==1.0.0

# Streamlit Menu
streamlit-option-menu==0.4.0
